.container {
  max-width: 800px;
  margin: auto;
}

body {
  background-color: #eee;
  color: white;
  margin: 0;
  font-family: "Avenir", "Montserrat", sans-serif;
}

.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  width: 28%;
  margin: 1% auto;
  transition: background 0.4s;
}

.option, #roll {
  padding: 3% 0;
  min-width: 150px;
  border-radius: 5px;
  text-align: center;
}

.option:nth-child(odd) {
  background-color: steelblue;
}

.option:nth-child(even) {
  background-color: #232323;
}

#roll {
  width: 30%;
  margin: 5% auto;
  background-color: red;
  text-decoration: none;
	display: block;
  color: white;
}


#selected {
  background-color: red;
}

h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
  font-weight: normal;
  min-width: 150px;
}